version: '3.8
services:
  app:
    build: .
    container_name: demo
    ports:
      - "8080:8080"
    depends_on:
      - db

    db:
        image: postgres:13
        environment:
          POSTGRES_USER: postgtres
          POSTGRES_PASSWORD: demopassword
          POSTGRES_DB: mydb